* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 0 15%;
}
.title {
  padding: 40px 0;
  text-align: center;
  font-size: 36px;
}
.custom {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1em;
}
.main-title {
  padding: 10px 0 10px 20px;
  margin: 0 20px;
  font-size: 26px;
  border-left: 4px solid orange;
  background-color: #464646;
  color: snow;
}
.sub-title {
  margin: 10px 20px;
  font-size: 20px;
  color: #464646;
  line-height: 24px;
}
.sub-title::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: orange;
  margin-right: 16px;
  vertical-align: -1px;
}
.one {
  background-color: aliceblue;
}
.two {
  background-color: antiquewhite;
}
.three {
  background-color: aqua;
}
.four {
  background-color: aquamarine;
}
.five {
  background-color: azure;
}
.six {
  background-color: blueviolet;
}
.description {
  text-indent: 24px;
  line-height: 24px;
  margin-top: 20px;
  padding: 0 20px;
}
.highlight {
  color: #fb8f00;
  padding: 0 4px;
}
.wrapper {
  display: grid;
  padding: 20px;
}
.wrapper-tracks {
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
}
.grid-wrapper {
  display: grid;
  margin: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(50px, auto);
}
.flex-wrapper {
  display: flex;
  margin: 20px;
}